@font-face {
	font-family: RoadRage; /* Имя шрифта */
	src: url(../fonts/13891.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: BigStem; /* Имя шрифта */
	src: url(../fonts/BIGSTEM-REGULAR.TTF); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: AvantGardeGothicC; /* Имя шрифта */
	src: url(../fonts/avantgardegothicc.otf); /* Путь к файлу со шрифтом */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*, *:before, *:after {
	box-sizing: border-box;
}
body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
	background: #000;
}
html{
	scroll-behavior: smooth;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: inherit;
	text-decoration: none;
}

/*----- Header -----*/

.container{
	max-width: 400px;
	margin: 0 auto;
}

.header{
	font-family: "AvantGardeGothicC";
	height: 100vh;
	background: url(../img/bg.png) center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	position: relative;
}
.header-wrapper{
	padding: 60px 40px 90px;
	margin: 0 auto;
	height: 100%;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.logo-text{
	font-size: 12px;
	letter-spacing: 0.25px;
	text-transform: uppercase;
}
.title{
	color: #f9d914;
	font-size: 27px;
	text-transform: uppercase;
	letter-spacing: 0.75px;
}
.header-text{
	margin-top: 20px;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	line-height: 11px;
}
.down-link{
	cursor: pointer;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}



.down-text{
	font-family: "AvantGardeGothicC";
	font-size: 10px;
	text-transform: uppercase;
}
.down img{
	margin-top: 4px;
	width: 29px;
	height: 15px;
	animation: floating 0.9s infinite;
}
@keyframes floating {
    0% {
    	transform: translateY(0%);  
    }
    50% {
    	transform: translateY(15%);  
    }   
    100% {
    	transform: translateY(0%);
    }           
}

/*----- Services -----*/
.services {
	color: #fff;
	position: relative;
	min-height: 100vh;
}
.services-wrapper{
	padding: 30px 35px 80px;
	margin: 0 auto;
	min-height: 100vh;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.services-title{
	text-align: center;
	font-family: "AvantGardeGothicC";
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 0.35px;
}
.yellow{
	color: #f9d914;
}
.services-list{
	margin-top: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.services-item{
	margin-bottom: 15px;
	flex-basis: 49%;
	position: relative;
	padding-left: 28px;
	text-align: left;
}
.item-img{
	position: absolute;
	left: 0;
	top: 0;
}
.item-title{
	font-family: "BigStem";
	font-size: 18px;
	line-height: 19px;
	text-transform: uppercase;
	letter-spacing: 0.45px;
}
.item-text{
	color: #dadad8;
	font-family: "AvantGardeGothicC";
	font-size: 6px;
	line-height: 8px;
	text-transform: uppercase;
	letter-spacing: 0.15px;
}
.btn{
	background: transparent;
	color: #fff;
	font-family: "AvantGardeGothicC";
	font-size: 8px;
	text-transform: uppercase;
	letter-spacing: 0.25px;
	border: 2px solid #f9d914;
	border-radius: 10px;
	padding: 7px 35px 6px;
	display: block;
	margin: 0px auto;
	outline : none; 
}

.cases {
	color: #fff;
	height: 100vh;
	font-family: "AvantGardeGothicC";

}
.cases-wrapper{
	padding: 0 10px 80px;
	margin: 0 auto;
	height: 100%;
}
.case-img{
	width: 80%;
	margin: 0 auto;
}
.case-content{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.case-title{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.case-title img{
	width: 14px;
	height: 14px;
}
.title-text{
	font-size: 12px;
	text-transform: uppercase;
	padding-left: 4px;
}
.case-list{
	margin-top: 10px;
	margin-bottom: 10px;
}
.case-list_item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 5px;
}
.case-list_item span{
	font-size: 8px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.requisition{
	background-color: #000;
	height: 100vh;
	padding: 10px;
	color: #fff;
	font-family: "AvantGardeGothicC";
	display: flex;
	flex-direction: column;
	align-items: center;
}
.invite{
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 0.75px;
}
.road{
	font-family: "RoadRage";
}
.krasnyi{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 40px 0 30px;
}
.krasnyi img{
	width: 30px;
	height: 30px;
}
.krasnyi a{
	color: #f6e818;
	font-size: 15px;
	text-transform: uppercase;
}
/*---------- Form -------------*/
.form-title{
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}
.form {
	text-align: center;
}
.form label{
	font-size: 12px;
	text-transform: uppercase;
}
.form input {
	display: block;
	width: 100%;
	height: 25px;
	background: transparent;
	border: none;
	border-bottom: 2px solid #c5ac0f;
	margin-bottom: 20px;
	border-radius: 0;
	outline : none;
	color: #fff;
	text-align: center;
}
.form button{
	margin-top: 40px;
	margin-bottom: 80px;
}

.contacts{
	/* position: absolute;
	bottom: 60px;
	left: 50%;
	transform: translateX(-50%);
	font-family: "AvantGardeGothicC"; */
	font-size: 9px;
	text-transform: uppercase;
}
.contacts-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}
.contacts-item img{
	width: 19px;
	height: 19px;
}
.contacts-item span{
	padding-left: 8px;
} 