body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: #000;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
html {
	scroll-behavior: smooth;
}
.container {
	width: 100%;
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}
.hero{
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom, rgba(9, 47, 51, 0.8) 0%, rgba(0, 29, 31, 0.5) 100%),
	url(../img/1.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	display: flex;
	align-items: center;
	text-align: center;
	overflow: hidden;
}

.video-bg {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100vh;
	pointer-events: none;
}

.hero:after{
	content: '';
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5018382352941176) 25%, rgba(0,0,0,0.5) 75%, rgba(0,0,0,.9) 100%);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.hero__title{
	font-size: 3.5em;
	color: #fff;
	position: relative;
	z-index: 1;
}

.header {
	width: 100%;
	height: 100px;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	color: #fff;
	font-weight: 700;
}
.header__inner {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav__link {
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
}

/* ?.nav__link:after { } */

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.logo__img {
	height: 100px;
}
.phone {
	font-size: 21px;
	font-weight: 400;
}
.menu-burger__header{
	display: none;
	width: 35px;
	height: 35px;

	position: relative;
}
.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
	height: 3px;
	width: 100%;
	position: absolute;
	background: #fff;
	margin: 0 auto;
}
.menu-burger__header span{
	top: 16px;
}
.menu-burger__header:after, .menu-burger__header:before{
	content: '';
}
.menu-burger__header:after{
	bottom: 5px;
}
.menu-burger__header:before{
	top: 5px;
}
.menu-burger__header.open-menu span {
	opacity:0; 
	transition: 0.5s; 
}
.menu-burger__header.open-menu:before {
	transform: rotate(38deg);
	top: 16px;
	transition: 0.4s;
}
.menu-burger__header.open-menu:after {
	transform: rotate(-38deg);
	bottom: 16px;
	transition: 0.4s;
}

/* * Автопарк */

.autopark {
	padding-top: 25px;
	background-color: #e7e7e7;
}
.autopark-title {
	font-size: 52px;
	text-align: center;
}
.autopark-wrapper {
	margin-top: 10px;

}
.car-block {
	display: flex;
	background: #fff;
	margin-bottom: 5px;
}

.car-block__img {
	width: 50%;
}
.car-block__img img {
	width: 100%;
}
.car-block-description {
	width: 50%;
	text-align: center;
}
.car-block-description__title {
	margin: 10px 0;
	font-size: 32px;
}
.car-block-description__list {
	font-size: 18px;
	line-height: 25px;
	list-style: none;
}
.green-price {
	font-weight: 700;
	color: rgb(26, 139, 26);
}

/* * Кнопка Заказать Авто */

.order-auto{
	text-align: center;
}

.btn {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
	background-color: #259da8;
	border-radius: 5px;
	padding: 15px 60px;
	margin: 25px 0;
}

/* * Услуги */
.fas{
	margin-right: 15px;
	color:  #259da8;
}
.services{
	padding: 30px 0;
}
.services-title{
	font-size: 32px;
	text-align: center;
}
.services-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.services-item{
	width: 400px;
	text-align: center;
	margin: 30px 0;
}
.services-item__title{
	margin-bottom: 10px;
}

/* *Условия */

.conditions{
	background: #fff;
	padding: 30px 0px;
}

.conditions-title {
	font-size: 32px;
	text-align: center;
}
.conditions-list{
	width: 600px;
	margin: 20px 0;
}
.conditions-list__item{
	margin-left: 20px;
}
.line{
	background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%);
	height: 1px;
}

/* * Contacts */

.contacts {
	background-color: #e7e7e7;
}
.contacts-wrapper{
text-align: center;
padding: 30px 0;
}
.contact-tel{
	font-size: 44px;
	font-weight: 600;
}
.street,
.town
{
	display: block;
	font-size: 18px;
}
.google-map {
	width: 90%;
}
/* *Footer */

.site-footer {
	background: #000;
}
.site-info {
	color: #fff;
	font-weight: 100;
	padding: 20px 0;
}

/* * Scroll to top */

.btn-to-top {
	display: inline-block;
	background-color: #259da8;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	margin: 30px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	cursor: pointer;
	transition: background-color .3s, 
	opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}

.btn-to-top:active {
	background-color: #555; 
}

.btn-to-top:after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #e7e7e7; 
}

.btn-to-top.show {
	opacity: 1;
	visibility: visible;
}
